body{
    background-image: url("../img/pen-wallpapers.jpg");
}

.container{
    padding-top: 100px;
    text-align: center;
}

.result{
    font-family: "Bookman Old Style",serif;
    font-size: 50px;
    margin-top: 5px;
}

.box{
    width: 1000px;
    text-align: center;
}