.page{
    width: 700px;
    height: 1000px;
    padding: 20px 30px 30px 50px;
    margin: 50px auto;
    box-shadow: 10px 10px 20px black;
    background-color: burlywood;
    font-family:  Georgia,serif;
}

h1{
    font-family: Georgia, serif;
    font-size: 300%;
    text-decoration: underline;
    color: black;
    text-align: center;
    margin: 20px 0 20px 0;
}

h2{
    font-family: Georgia, serif;
    font-size: 150%;
    text-align: center;
}

.menu{
    margin-top: 50px;
}

.menu>ul {
    margin: 0;
    padding: 5px;
    text-align: center;
}

.menu>ul>li{
    margin-right: 15px;
    display: inline;
    border: 3px dotted burlywood;
    padding: 5px;
    background-color: aquamarine;
}

.menu>ul>li>a{
    text-decoration: none;
    font-family: Georgia, serif;
    font-size: 20px;
    color: black;
 }

.menu>ul>li:hover{
    background-color: dodgerblue;
}

body{
    background-image: url("../img/background/marksBack.jpg");
}

.donation{
    width: 60px;
    height: 60px;
    text-align: center;
    display: block;
    padding: 5px;
    margin:  auto;
}

.donation:hover{
    background-color: gold;
}

.image{
    width:100%;
    /*width: 60px;*/
    /*height: 60px;*/
}

#CardNumber{
    font-family: "Times New Roman", serif;
    font-size: 500%;
    text-align: center;
}

.imageMenu{
    margin-top: 50px;
}

.imageMenu>ul{
    margin: 0;
    padding: 4px;
    text-align: center;
}

.imageMenu>ul>li{
    margin-right: 15px;
    display: inline;
    border: 3px dotted burlywood;
    padding: 5px;
}

.imageMenu>ul>li+li{
    background-color: aquamarine;
}

.imageMenu>ul>li+li:hover{
    background-color: dodgerblue;
}

.imageMenu>ul>li[class="buttonBack"]:hover{
    background-color: dodgerblue;
    border: 2px inset black;
}

.imageMenu>ul>li>a{
    text-decoration: none;
    font-family: Georgia, serif;
    font-size: 20px;
    color: black;
}

.buttonBack{
    width: 20px;
    height: 20px;
}

.miniatures{
    margin-top: 100px;
    text-align: center;
}

.miniatures>ul{
    margin: 5px;
    padding: 4px;

}

.miniatures>ul>li{
    margin-right: 50px;
    display: inline;
    padding: 2px;
}

.miniatures>ul>li>a>img:hover{
    border: 1px inset black;
    background-color: gold;
}

.miniatures>ul>li>a>img{
    width: 100px;
    height: 100px;
}

.fullImage{
    margin-top: 70px;
    text-align: center;
}

.fullImage>img{
    width: 512px;
    height: 512px;
}